h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Trebuchet MS, sans-serif;
	clear: both;
	color: $color__brand1;
	margin: 0 0 20px 0;	
}

h1 {
	font-size: 130%;
	line-height: 145%;
	//margin: 0.8em 0;
}

h2 {
	font-size: 120%;
	line-height: 145%;
}

h3 {
	font-size: 100%;
	line-height: 100%;
}
	