table, td, th {
	border-color: #d6d6d6;
	border-style: none;
	font-size: 95%;
}

table {
  border-width: 0 0 0 0;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0px solid #d6d6d6;
  margin: 1.5em 0 0.5em;
  width: 100%;
}

tr:nth-child(even) {background-color: #f2f2f2}

td, th {
	margin: 0;
	padding: 5px;
	border-width: 0;
	border-bottom: 1px dotted #ddd;
	background-color: #fff;
	text-align: center;
}

table ul {
	padding-left:0;
	margin-left:0;
}

table.video, table.video td {
	border: none;
	margin: 0;
}

td.borderless {
	border-left: none;
	border-right: none;
}

.new-venue {
	background-image: url('images/stages/new-venue.png');
	background-repeat: no-repeat;
	background-position: 98% 8px; 
}

.new-course {
	background-image: url('images/stages/new-course.png');
	background-repeat: no-repeat;
	background-position: 98% 8px; 
}

/*Schedule Table*/

table th 	{
	background-color: #E00003;
	color: white;
}