.sticky {
	display: block;
}

.hentry {
	//margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-title {
	margin-bottom: 10px;
	font-size: 2em;
	line-height: 1;
}

.entry-meta {
	color: #666;
	font-size: 1em;
	font-style: italic;
	margin-bottom: 15px;
	a {
		font-style: normal;
	}
}

.page-content,
.entry-content,
.entry-summary {
	//margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Hero Image */
#hero {
	background: #000d23;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 560px;
	background-size: cover;
	margin-bottom: 30px;
	position: relative;
}	

.home #hero {
	height: 50vh;
	overflow: hidden;
}

.header-image {
	padding: 8px 8px 0 8px;
}

#hero-video { 
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#register-button a {
	font-family: $font__secondary;
	text-transform: uppercase;
	color: #7498ae;
	font-weight: 300;
	padding: 0 9px 2px 9px;
	overflow:hidden;
	font-size:90px;
	line-height: 1;
	position: absolute;
	background: rgba($color__brand1, 0.8); //#00050c;
	bottom: 30px;
}

#hero-headline {
	font-family: $font__secondary;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	padding: 5px 30px;
	margin: 0;
	font-size:72px;
	position: absolute;
	background: rgba($color__brand1, 0.8); //#00050c;
	bottom: 30px;
}

#register-button a:hover {
	color: #ed1c24;
}

/* Body */

.page-title, .title {
	margin: -30px -30px 30px;
	color:#fff;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 24px;
	padding: 10px 15px;	
	background: $color__brand3 url(images/blue/bg-right.png) repeat-x;
}

h4.title {
	margin-top: 0.25em;	
}

#right .block {
	background: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,5,12,1);
}

.box {
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 29px;
	margin-top: 1.25em;
	p:last-child {
		margin-bottom: 0;
	}
}

.block .box:last-child {
	border-bottom: none;
}

ul.box {
	list-style-type: none;
	padding: 14px;
	border: none;
}

ul.box li {
	padding-bottom: 14px;
}	


.home {
	#right .block {
		float: left;
		padding: 30px 0;
	}
	.title {
		margin: -30px 0 30px;
	}
	.entry-title {
		font-size: 1.5em;
	}
	.box {
	float: left;
	width: 46%;
	margin: 0 2% 20px;
		&:nth-child(even) {
			clear: both;
		}
		&:nth-last-child(2) {
			border-bottom: none;
		}
	}
	.wp-post-image {
		margin-bottom: 20px;
	}
}

.entry-footer {
	color: #666;
	font-size: 1em;
	font-style: italic;
	margin-top: 15px;
	a {
		padding-right: 10px;
		border-right: 1px solid #ccc;
		margin-right: 10px;	
		font-style: normal;
	}
	span:last-child a {
		border-right: none;
	}
}